/* page config */
:root {
  font-family: "Lato", sans-serif;
}

.accordionContainer {
  width: 450px;
  height: 100%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* set box-shadow to mimick mobile phone */
  box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.12);
  background-color: transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* ------------------------
ACCORDION STYLES
--------------------------- */

/* 1. BOX */
.cheese {
  background-color: #f0c153;
}

.lettuce {
  background-color: #7cc97f;
}
.tomato {
  background-color: #f16160;
}

.beef {
  background-color: #a34e2a;
}

.accordion {
  /* set accordion's width to parent container width */
  width: 100%;
}

/* first and last accordion should have border radius on free borderss */
.accordion:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accordion:last-of-type {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* 2. HEADER */
.accordionHeader {
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  /* vertically align heading + icon */
  align-items: center;
  /* space out heading and icon as much as possible */
  justify-content: space-between;
}

/* - toggle icon styles */
.accordionHeader span {
  display: flex;
  /* vertically + horizontally align pseudo classes inside span */
  align-items: center;
  justify-content: center;
  width: 20px;
  /* set height equal to headings height */
  height: 20px;
  /* set position to relative to enable absolute positioning from pseudo selectors */
  position: relative;
}

.accordionHeader span:before {
  content: "";
  background-color: #000;
  width: 20px;
  height: 5px;
  /* make pseudo element visible */
  display: block;
  position: absolute;
}

.accordionHeader span:after {
  display: block;
  content: "";
  background-color: #000;
  width: 20px;
  height: 5px;
  /* absolute position needed for rotating */
  position: absolute;
  /* rotate to create + sign */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* - when accordion is open hide :after resulting in a minus icon */
.isOpen .accordionHeader span:after {
  display: none;
}
/* 3. CONTENT */
.accordionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*setverticalalignofsvgimg(andp)tocenter*/
  align-items: center;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0 30px;
  transition: opacity 0.2s ease, padding 0.2s ease;
  -webkit-transition: opacity 0.2s ease, padding 0.2s ease;
  -moz-transition: opacity 0.2s ease, padding 0.2s ease;
  -ms-transition: opacity 0.2s ease, padding 0.2s ease;
  -o-transition: opacity 0.2s ease, padding 0.2s ease;
}

.accordionContent img {
  width: 25%;
}
.accordionContent p {
  /* add 10% of container width as padding using flexbox */
  width: 65%;
  font-size: 18px;
  line-height: 1.5em;
}

/* - when accordion is open make content visible */
.isOpen .accordionContent {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 20px 30px;
}
