/* page config */
:root {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  margin: 35px 0;
  width: fit-content;
}

/* ------------------------
CAROUSEL STYLES
--------------------------- */
.carousel {
  width: 800px;
  display: flex;
  /* horizontally center carouselMain area and the dots */
  flex-direction: column;
  align-items: center;
}
.carousel .carouselMain {
  display: flex;
  flex-direction: row;
  /* vertically align next and previous buttons */
  align-items: center;
}

.carouselMain .contentsContainer {
  /* set width of slider container */
  width: 600px;
  overflow: hidden;
  /*put space between arrow buttons and slides*/
  margin: 0 25px;
}

.carouselMain .contentsContainer ul.contents {
  position: relative;
  height: 100%;
  width: 100%;
}

.carouselMain .contentsContainer .contents .slide {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
}

/* position all other slides out of view */
.carouselMain .contentsContainer .contents .slide:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 100%; /*or width of ul -> width of .contentsContainer*/
}

.carouselMain .contentsContainer .slide:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 200%;
}

/* arrow styles */
.carousel .carouselMain .arrow {
  outline: 0;
  background-color: #000;
  border: none;
  height: 30px;
  min-width: 30px;
  padding: 0;
  position: relative;
}

.carousel .carouselMain .arrow.left {
  margin-left: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.carousel .carouselMain .arrow.right {
  margin-right: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.arrow.right:hover,
.arrow.left:hover {
  cursor: pointer;
}
.carousel .carouselMain .arrow.left:after,
.carousel .carouselMain .arrow.right:after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 10px;
  width: 50px;
  height: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.arrow.hidden {
  visibility: hidden;
}

/* ------------------------
CAROUSEL DOTS STYLES
--------------------------- */
.carousel .carouselDots {
  margin-top: 20px;
}
.carousel .carouselDots .carouselDot {
  outline: 0;
  margin: 0 3px;
  border: none;
  background-color: #808080;
  padding: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.carousel .carouselDots .isSelected.carouselDot {
  background-color: #000;
}
